<div class="video-chat-container">
  <div class="video-container">

    <!-- Display Error if there was one that occurred -->
    <div *ngIf="errorMessage" class="error-message">
      {{ errorMessage }}
    </div>

    <!-- User/Your webcam -->
    <div class="video-wrapper">
      <video #localVideo autoplay playsinline></video>
    </div>

    <!-- Other Users webcam -->
    <div class="video-wrapper">
      <video #remoteVideo autoplay playsinline></video>
    </div>
  </div>
  <div class="controls">
    <button class="start-call" (click)="startCall()">Start Call</button>
    <button class="end-call" (click)="endCall()">End Call</button>
  </div>
</div>