<!--    Old MessageApp individual users concept -->
<!--    <ng-container *ngIf="isAuthenticated$ | async; else notAuthenticated">-->
<!--      <div class="dashboard-container">-->
<!--        <div class="dashboard-content">-->
<!--          <header>-->
<!--            <h1>Messages</h1>-->
<!--          </header>-->

<!--          <ul class="message-list">-->
<!--            <li *ngFor="let message of messages" (click)="openChat(message.chat_id)" class="message-item">-->
<!--              <div class="avatar-container">-->
<!--                <img [src]="message.avatar" [alt]="message.name" class="avatar">-->
<!--                <span *ngIf="message.online" class="online-indicator"></span>-->
<!--              </div>-->
<!--              <div class="message-content">-->
<!--                <h3>{{ message.name }}</h3>-->
<!--                <p>{{ message.last_msg }}</p>-->
<!--              </div>-->
<!--              <div class="message-meta">-->
<!--                <span *ngIf="message.unread" class="unread-badge">{{ message.unread }}</span>-->
<!--              </div>-->
<!--            </li>-->
<!--          </ul>-->
<!--        </div>-->

<!--    </ng-container>-->
