.dashboard {
  display:          flex;
  flex-direction:   column;
  height:           100vh;
  background-color: #f0f2f5;
}

.dashboard-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.dashboard-content {
  flex: 1;
  overflow-y: auto;
}

header {
  text-align: center;
  color: #1877f2;
  padding: 1rem;
}

main {
  flex-grow:      1;
  overflow-y:     auto;
  padding:        1rem;
  margin-bottom:  16rem; /* lil space between message content and bottom-nav */
}

h1 {  /* Title */
  font-size:      1.5rem;
  padding:  1rem;
  text-align: center;
}

h2 {
  text-align: center;

}

h3 {
  margin:     0;
  font-size:  1rem;
}

p {
  margin:     0.25rem 0 0;
  font-size:  0.9rem;
  color:      #65676b;
}




/* Groups & Channels */
.group-list {
  list-style-type: none;
  padding: 0;
}


.group-header {
  background-color: #fdfdfd;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 10px;
  transition: background-color 0.3s;
  border:           none;
  border-radius:    4px;
}

body.dark-mode .group-header {
  background-color: #232424 !important;
  color: #ffffff;
}

.group-header:hover {
  background-color: #f0f2f5;
}

body.dark-mode .group-header:hover {
  background-color: #e4e4e4;
}

.group-name {
  margin-left: 10px;
  font-weight: bold;
  color: #050505;
}

body.dark-mode .group-name {
  color: #ffffff;

}

.group-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;

}

.group-item.expanded  {
  transition: max-height 0.5s ease-in-out;
  overflow: visible;
}

.channel-item {
  padding: 8px 10px 8px 34px;
  cursor: pointer;
  transition: background-color 0.3s, opacity 0.3s, transform 0.3s;
  opacity: 0;
  transform: translateY(-10px);
}

.channel-item.visible {
  opacity: 1;
  transform: translateY(0);
}

.channel-list {
  background-color: #c9c9c9;
  color:#050505;
  max-height: 512px;
  padding: 4px;
  overflow: visible;
  list-style-type: none;  /* Remove dot point */
  border-radius:    4px;
  transition: background-color 0.3s ease;


}

body.dark-mode .channel-list {
  background-color: #050505;
  color:#0066ff;
}
.channel:hover {
  background-color: #f0f2f5;
}

.arrow {
  transition: transform 0.3s;
}
.rotate {
  transform: rotate(90deg);
}




/* Avatar STyling (old, but probably integrate when groups/channels have avatars. */

.avatar-container {
  position:       relative;
  margin-right:   15px;
}

.avatar {
  width:          50px;
  height:         50px;
  border-radius:  50%;
  object-fit: cover;
}

/* not used atm */
.online-indicator {
  position:         absolute;
  bottom:           0;
  right:            0;
  width:            18px;
  height:           18px;
  background-color: #31a24c;
  border-radius:    50%;

  animation:  blink 2s infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.message-meta {
  /*display: flex;*/
  flex-direction: column;
  align-items: flex-end;
}

.message-content {
  flex-grow:    1;
  margin-right: 8px;
  margin-left:  16px;
}

.message-header {
  display:          flex;
  justify-content:  space-between;
  align-items:      baseline;
}

.time {
  font-size:  0.8rem;
  color:      #65676b;
}

.unread-badge {
  background-color: #1877f2;
  color:            white;
  border-radius:    50%;
  padding:          0.25rem 0.5rem;
  font-size:        0.8rem;
  margin-left:      6px;
}

.bottom-nav {
  position: sticky;
  bottom: 0;
  left: 0;
  right: 0;

  display: flex;
  justify-content: space-around;
  background-color: white;
  border-top: 1px solid #e4e6eb;
  margin-bottom: 16px; /*bit of space between bottom of page*/

  border-radius: 16px; /*rounded corner*/
  gap: 8px;

  padding: 1rem;
}

.bottom-nav button {
  background: none;
  border: none;
  font-size: 0.9rem;
  color: #65676b;
  cursor: pointer;
  padding: 0.5rem 2rem;
  border-radius: 8px;

  transition: background-color 0.3s ease;
}

.bottom-nav button.active {
  color: #1877f2;
  font-weight: bold;
  box-shadow:       0 -2px 32px rgba(130, 154, 232, 0.125);
  background-color: rgba(24, 119, 242, 0.15);
}

.bottom-nav button:hover {
  background-color: #f0f2f5;
}

.not-authenticated {
  display:          flex;
  flex-direction:   column;
  align-items:      center;
  justify-content:  center;
  height:           100vh;
  text-align:       center;
}

.not-authenticated button {
  margin-top:       1rem;
  padding:          0.5rem 1rem;
  background-color: #1877f2;
  color:            white;
  border:           none;
  border-radius:    4px;
  cursor:           pointer;
}

/* Dark Mode Styles */

body.dark-mode .dashboard {
  background-color: #121212;
}

body.dark-mode .dashboard-container {
  background-color: #1e1e1e;
}

body.dark-mode .header {
  background-color: #1e1e1e;
  color: #e0e0e0;
}

body.dark-mode .main {
  background-color: #1e1e1e;
  color: #e0e0e0;
}

body.dark-mode .nav {
  background-color: #1e1e1e;
  color: #e0e0e0;
}


/* groupitem in dashboard css  isnt colouring to black */
body.dark-mode .group-item group-item {
  background-color: #1e1e1e;
  color: #e0e0e0;
}
